/* =============
    Hero
============= */


#hero{
    background-image: url(../img/homepage/hero.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center;
    margin-top: 74px;

@include md{
    height: 60vh;
    margin-top: 125px;
}

@include lg{
    height: 70vh;
}

@include xl{
    height: 85vh;
}

}