/* =============
    Home
============= */

#home{
    padding: 60px 16px;


    @include md{
        display: grid;
        grid-template-columns: auto 768px auto;
        grid-template-areas: ". home .";
    }

    >div{
        
        @include md{
            grid-area: home;
        }

        #home-top{
            text-align: center;

            @include md{
                padding: 0 100px;
            }

            #profile-img{
                height: 200px;
                width: 200px;
                background-image: url("../img/Homepage/magic.jpeg");
                background-position: center;
                border-radius: 100%;
                margin: 0 auto;
            }
            h1{
                margin: 40px 0 25px;
                color: var(--darkCharcoal);
                font-family: "Comforta", sans-serif;
                font-size: rem-calc(31);

                @include md{
                    margin: 40px 0 65px;
                    font-size: rem-calc(55);
                }
            }
            p{
                font-size: rem-calc(17);
                margin-bottom: 24px;

                @include md{
                    font-size: rem-calc(19);
                    margin-bottom: 34px;   
                }
            }
        }

        #home-bottom{

            @include md{
                padding: 0 7vw;
            }
            @include lg{
                padding: 0 5vw;
            }
            @include xl{
                padding: 0 3vw;
            }

            p{
                margin: 56px 10px;
                font-size: rem-calc(18);
                line-height: rem-calc(22);
                font-weight: 600;
                text-align: justify;
                line-height: rem-calc(20);
            }
        }
    }
}