/* =============
    Header
============= */

header{
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-areas: 
    "burger-container contact-container"
    "main-nav main-nav";
    padding: 24px 0 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--white);

    @include md{
        grid-template-columns: 60% auto;
        grid-template-areas: 
        "logo-container logo-container"
        "burger-container contact-container"; 
    }

    #burger-container{
        grid-area: burger-container;
        padding-left: 16px;
        display: flex;
        align-items: center;

        @include md{
            display: none;
        }

        button{
            padding: 0;
            color: var(--darkCharcoal);
        }
    }
    
    #contact-container{
        grid-area: contact-container;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 16px;
        height: 100%;
        padding-bottom: 16px;
    }
    
    #main-nav{
        grid-area: main-nav;
        
        @include md{
            display: block;
        }
        // see navigation scss file for styles
    }
    
    #logo-container{
        display: none;

        @include md{
            display: block;
            grid-area: logo-container;
            text-align: center;
            padding-bottom: 8px;
        }
    }
}

.hideMainNavAtMobile{
    display: none;
}
